
.footer-container {
    width: 80%;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: white;
            font-size: 16px;
            font-weight: 400;
        }

        span {
            color: #FFC541;
        }
    }

    &__buttons {
        margin-top: 13px;
        display: flex;
        align-items: center;

        &__finished {
            justify-content: right;
        }
    }
}