.format-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        justify-content: left;
        gap: 10px;
        color: red;
    }
}

.format-block {
    cursor: pointer;
    margin: 10px 0;
}

.format-button {
    float: left;
    margin: 10px 0 10px 0;
}

.format-faq {
    float: right;
    display: flex;
    width: 40%;
    margin-top: 60px;
}