.param-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        justify-content: left;
        gap: 10px;
        color: red;
    }
}

.param-alert {
    display: flex;
    justify-content: right;

    &__item {
        max-width: 500px;
    }
}